/* @theme test */

@import 'default';

section.title h1 {
    font-size: 80px;
    font-family: '001Shirokuma', serif;
    justify-content: center;
}

section.title h3 {
    font-size: 30px;
    font-family: '001Shirokuma', serif;
    text-align: right;
}
